<!-- home -->
<section>
	<figure>
		<img alt="">
		<figcaption><h3>usename</h3></figcaption>
	</figure>
	<a href="#/own/info">个人中心</a>
	<ul>
		<li><a href="#/own/ecard">电子会员卡</a></li>
		<li><a href="#/track/list">我的足迹</a></li>
	</ul>
</section>

<section>
	<ul>
		<li><a href="#/order/wait/pay">待支付</a></li>
		<li><a href="#/order/wait/delivery">待发货</a></li>
		<li><a href="#/order/wait/receive">待收货</a></li>
		<li><a href="#/order/wait/evaluate">待评价</a></li>
		<li><a href="#/order/refund">退款/售后</a></li>
	</ul>
	<p><a href="#/order/list">我的订单</a></p>
</section>

<section>
	<p><a href="#/order/card">购物车</a></p>
</section>

<section>
	<p><a href="#/own/activity">我的活动</a></p>
	<p><a href="#/own/reservation">我的预约</a></p>
	<p><a href="#/own/coupon">我的优惠券/红包</a></p>
</section>
